* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000029;

  display: none; /* set flex display on button event */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
}