* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

button {
  cursor: pointer;
  padding: 6px 24px;
  border: 1px solid #007eff;
  background-color: #007eff;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000029;

  display: none; /* set flex display on button event */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px;
  border-radius: 6px;
  box-shadow: 1px 1px 6px 1px #00000054;
  background-color: white;
  min-width: 200px;
  width: 30%;
  max-width: 300px;
}

form header {
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

form button.close {
  margin: 0;
  padding: 6px 12px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 1.5em;
}

form .form-field {
  margin-bottom: 10px;
}

form label {
  display: block;
}

form :not(fieldset).form-field input {
  width: 100%;
}

fieldset {
  border: none;
}

fieldset legend {
  padding-bottom: 5px;
}

fieldset input, fieldset label {
  float: left;
}

fieldset input#read {
  margin-left: 8px;
}

fieldset input#unread {
  margin-left: 20px;
}

fieldset label {
  margin-left: 5px;
}

form button {
  display: block;
  margin-inline: auto;
  margin-top: 25px;
}